{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    <ul class="patterns-list">
    {{ range .Pages.ByPublishDate.Reverse }}
      <li>
        <h2>
          <a href="{{ .Permalink }}">
            <!-- <svg class="bookmark" aria-hidden="true" viewBox="0 0 40 50" focusable="false">
              <use xlink:href="#bookmark"></use>
            </svg> -->
            {{ .Title }}
          </a>
        </h2>
        {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
        {{ $publishDate := .PublishDate }}
        {{ $publishDate.Format $dateFormat }} ◆
        {{ with .Params.tags}}
          <span>Tags: </span>
          {{ range . }}<span>{{ . }} </span>{{ end }}
        {{ end }}
      </li>
    {{ end }}
    </ul>
  </main>
{{ end }}
